.navbar-worker {
  /* background-color: #71C9CE; */
  display: flex;
  justify-content: space-between;
  padding: .5rem 4rem;
  align-items: center;
  background-color: black;
}

.navbar-worker p{
  margin: 0;
  width: fit-content;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}



.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 2rem;
  background: none;
}


.nav-menu {
  background-color:#2AF598 ;


  width: 250px;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms ease-out;
  z-index: 0;
  position: absolute;


}

.nav-menu.active {
  left: 0;
  transition: 350ms ease-out;

}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: 200ms ease;
}

.nav-text a:hover {
  background-color: #08AEEA;
}

.nav-menu-items {
  width: 90%;
}

.navbar-toggle {
  background-color: #08AEEA;
background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 63%);

  width: 60%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-color: black;
  border-radius: 10%;
}

.navbar-toggle:hover {
  background-color: #08AEEA;
background-image: linear-gradient(90deg, #08AEEA 63%, #2AF598 0%);
width: 60%;
height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}

span {
  margin-left: 16px;
}


.box:hover {
  box-shadow: -1px 10px 29px 0px #2AF598
}