.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 33vw;
  margin-bottom: 11vw;
}

.taglines {
  margin-left: 20px;
  text-align: left;
  color: #c9a0ed;
  font-family: Poppins;
  font-size: 20px;
}

.tagline {
  font-size: 70px;
  font-weight: bolder;
  margin-left: 20px;
  text-align: left;
  color: #be89ec;
  font-family: Poppins;
}

.fabric,
.fabric1 {
  width: 450px;
  height: 500px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 7vw;
  position: absolute;
}

.fabric1 {
  margin-left: 4vw;
  margin-top: 2vw;
}

/* Positioning for the overlapping images */
.overlap {
  position: relative;
}
