.container {
  text-align: center;
  /* background-color: rgb(175, 175, 62); */
  display: flex;
  flex-direction: row;
  gap: 33vw;
  margin-bottom: 11vw;
}

/* h1 {
  font-size: 2.5rem;
  color: #333;
} */

.taglines {
  margin-left: 20px;
  text-align: left;
  /* color: #c9a0ed; */
  color: #c9a0ed;
  font-family: Poppins;
  font-size: 20px;
}
.tagline {
  font-size: 70px;
  font-weight: bolder;
  margin-left: 20px;
  text-align: left;
  color: #be89ec;
  font-family: Poppins;
}

.fabric {
  width: 450px;
  height: 500px;
  /* bottom: 150px; */
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 7vw;
  position: absolute;
}

.fabric1 {
  width: 450px;
  height: 500px;
  /* bottom: 150px; */
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 7vw;
  position: absolute;
  margin-left: 4vw;
  margin-top: 2vw;
}
.overlap {
  position: relative;
}
