.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3vw;

  /* background-color: #76aee9; */
  background: linear-gradient(to right, #76aee9, #a378d9);
  color: white;
}

.para {
  font-size: 1.5vh;

  & img {
    width: 120px;
  }
}
.logo {
  display: block;
  width: 80px;
  height: auto;
}

.links {
  display: flex;
  gap: 3vw;
  align-items: center;
}

.link {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  /* float: left;
  margin-right: auto;
  overflow: hidden; */
  /* display: block; */
  /* text-align: center; */

  /* text-decoration: none; */
}

.link:hover {
  text-decoration: underline;
}
.button {
  background-color: #021f3858;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  border: none;
  cursor: pointer;
  width: 100px;
  margin-left: 30px;

  border-radius: 5px;
}
.click .link {
  text-decoration: none;
  color: white; /* Ensure the link text is visible */
  font-size: 16px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.cartCount {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 1px;
  margin-left: 1px;
  font-size: 12px;
  display: inline-block;
  min-width: 3px;
  text-align: top;
}

/* Apply same styles for logout button to look like links */
.link,
.logoutButton {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  background: none; /* Remove button's default background */
  border: none; /* Remove button border */
  cursor: pointer; /* Make cursor pointer like a link */
  font-size: inherit; /* Make sure font size matches */
  display: inline-block; /* Ensures it behaves like a link */
  padding:0;
  line-height: inherit;
}

.link:hover,
.logoutButton:hover {
  text-decoration: underline;
}

