.place_order_container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  display: flex;
}
.place_order_left {
  text-align: center;
  margin: 4vh 5vw;
  width: 35vw;
  box-shadow: rgba(13, 210, 108, 0.25) 0px 6px 12px -2px,
    rgba(11, 7, 210, 0.3) 3px 3px 7px 3px;
  border-radius: 1vh;
}
.place_order_form {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  gap: 4vh;
  margin-top: 4vh;

  & input {
    font-size: 2.1vh;
    padding: 1vh 1vw;
    
    
    
    border-bottom: 2px solid black;
  }
}
.multi_fields {
  display: flex;
  justify-content: space-between;
}
.place_order_right {
  margin:4vh 5vw;
}

.cart_bottom {
  border-radius: 5vh;
  width: 35vw;
  margin-top: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(13, 210, 108, 0.25) 0px 6px 12px -2px,
  rgba(11, 7, 210, 0.3) 3px 3px 7px 3px;
  border-radius: 1vh;
 
}
.cart_total {
  width: 50%;
  padding: 7vh 1vw;

  & p {
    font-size: 2.2vh;
    padding: 0vh 0vw;
  }
}
.cart_total_details {
  display: flex;
  justify-content: space-between;
  color:black;
  padding: 0vh 1vw;
}
.cart_total hr {
  margin: 12px 0px;
}
.cart_bottom button {
  margin: 5vh 0vw;
  font-size: 2.5vh;
  padding: 2vh 2vw;
  background-color: rgb(255, 71, 191);
  width: 15.9vw;
  cursor: pointer;
  border-radius: 2vh;
  border: none;
  transition: 0.4s ease;

  &:hover {
    background-color: rgb(97, 95, 204);
  }
}
