/* Styles for the place order form */
.place_order_container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3vh;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.place_order_left {
  text-align: left;
  margin: 4vh 0;
  width: 100%;
  max-width: 40vw;
  box-shadow: rgba(13, 210, 108, 0.25) 0px 6px 12px -2px,
    rgba(11, 7, 210, 0.3) 3px 3px 7px 3px;
  border-radius: 8px;
  padding: 2vh 2vw;
  background-color: #ffffff;
}

.place_order_form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

.place_order_form input {
  font-size: 1.8vh;
  padding: 1.2vh 1vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
  width: 100%;
  background-color: #f9f9f9;
}

.place_order_form input:focus {
  border-color: #3d85c6;
  outline: none;
}

/* Flexbox layout for first name and last name */
.multi_fields {
  display: flex;
  gap: 2vh; /* Adjust gap to match other fields */
  width: 100%;
}

.firstName,
.lastName {
  width: 100%;
}

.input_error {
  color: #ff0000;
  font-size: 1.4vh;
  margin-top: 0.5vh;
  font-weight: bold;
}

.place_order_right {
  margin: 4vh 0;
  width: 100%;
  max-width: 35vw;
}

.cart_bottom {
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(13, 210, 108, 0.25) 0px 6px 12px -2px,
    rgba(11, 7, 210, 0.3) 3px 3px 7px 3px;
  background-color: #ffffff;
  padding: 2vh 1vw;
}

.cart_total {
  width: 100%;
}

.cart_total h2 {
  font-size: 2.5vh;
  color: #444;
  margin-bottom: 1vh;
  font-weight: bold;
}

.cart_total_details {
  display: flex;
  justify-content: space-between;
  font-size: 2vh;
  padding: 1vh 0;
  color: #444;
}

.cart_total hr {
  margin: 12px 0px;
  border: 0;
  height: 1px;
  background: #ccc;
}

.cart_bottom button {
  font-size: 2vh;
  padding: 1.5vh 3vw;
  background-color: #ff47bf;
  color: #ffffff;
  width: 100%;
  max-width: 20vw;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  transition: background-color 0.4s ease, transform 0.2s ease;
  margin-top: 2vh;
}

.cart_bottom button:hover {
  background-color: #6163cc;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .place_order_container {
    flex-direction: column;
    align-items: center;
    padding: 2vh;
  }

  .place_order_left,
  .place_order_right {
    width: 90%;
    margin: 2vh 0;
  }

  .multi_fields {
    flex-direction: column; /* Stack fields vertically on smaller screens */
    gap: 1.5vh;
  }

  .cart_bottom button {
    max-width: 900%; /* Adjust the width of the button on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .place_order_container {
    gap: 2vh;
  }

  .place_order_left,
  .place_order_right {
    width: 100%;
    max-width: 100%;
  }

  .cart_bottom button {
    width: 100%;
    margin-bottom: 15vh;
  }
}
