/* .container {
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .productGrid {
    display: flex;
    justify-content: space-around;
  }
  
  .productCard {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
   */