.workerHome {
    padding: 15px;
    background-color: rgb(194, 221, 221);
    min-height: 90vh;
    margin-left: 4vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(81, 165, 88, 0.1);
  
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .title {
    font-size: 2.5rem;
    color: #444;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #888;
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .card {
    /* background: linear-gradient(135deg, #76aee9, #a378d9); */
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #a378d9, #76aee9);
  }
  
  .card h3 {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  
  .card p {
    color: black;
  }
  
  .icon {
    font-size: 2.5rem;
  }
  
  .performanceOverview {
    background-color: #fff;
    padding: 20px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .performanceOverview h2 {
    color: #444;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .infoBoxes {
    display: flex;
    justify-content: space-around;
  }
  
  .infoBox {
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .infoBox h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .infoBox p {
    color: #666;
    font-size: 1.2rem;
  }
  
  .paymentSection {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .paymentSection h2 {
    color: #444;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .paymentBox {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  
  .paymentButton {
    background-color: #388e3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .paymentButton:hover {
    background-color: #2e7d32;
  }
  