/* src/Components/Messages.module.css */
.messages {
    padding: 10px;
    background-color: rgb(194, 221, 221);
    min-height: 90vh;
    margin-left: 4vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 5px; /* Space below the title */
  color: #2e3b4e; /* Dark navy text color for better contrast */
  font-size: 2.5rem; /* Increased font size for the title */
  text-align: center; /* Center title for emphasis */
}

.messageItem {
  background-color:white; /* Slightly transparent white background */
  border-radius: 5px; /* Rounded corners */
  margin: 10px 0; /* Space between messages */
  padding: 15px; /* Inner spacing */
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Smooth transitions */
  position: relative; /* Position relative for after pseudo element */
}

.messageItem:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  background: linear-gradient(to right, #76aee9, #a378d9);; /* Light green background on hover */
}

.messageItem:hover::after {
  content: ''; /* Add a pseudo element for decoration */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px; /* Rounded corners for the line */
}

.messageItem p {
  margin: 5px 0; /* Space between paragraphs */
  color: #333; /* Dark gray text for readability */
  font-size: 1rem; /* Consistent font size */
}
